WebJpa/src/conf/xml-resources/jaxb/Tracking/trackings.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0"
     targetNamespace="http://xml.tars.net/tracking"
     xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="trackings">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="tracking" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="date"    type="xs:date"/>
							<xs:element name="address" type="xs:string"/>
							<xs:element name="receiver" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
