Java-samples/JAXBsample1/src/jaxbsample1/Album.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://turpi.net/jaxbsample1" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="album">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="songs" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="song" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="title" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>

