Java-samples/JAXBsample1/src/jaxbsample1/PersonName2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="employee" type="personName"/>

  <xs:complexType name="personName">
    <xs:sequence>
      <xs:element name="first" type="xs:string" nillable="true" minOccurs="0"/>
      <xs:element name="middle" type="xs:string" default="minami" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="last" type="xs:string"/>
  </xs:complexType>
</xs:schema>

