ContactDemoApplication/ContactDemoApplication-war/web/WEB-INF/wsdl/localhost_8080/ContactWebService/ContactWeb.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><xs:schema xmlns:tns="http://webservice.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.org/">

<xs:element name="count" type="tns:count" />

<xs:element name="countResponse" type="tns:countResponse" />

<xs:element name="create" type="tns:create" />

<xs:element name="edit" type="tns:edit" />

<xs:element name="find" type="tns:find" />

<xs:element name="findAll" type="tns:findAll" />

<xs:element name="findAllResponse" type="tns:findAllResponse" />

<xs:element name="findRange" type="tns:findRange" />

<xs:element name="findRangeResponse" type="tns:findRangeResponse" />

<xs:element name="findResponse" type="tns:findResponse" />

<xs:element name="remove" type="tns:remove" />

<xs:complexType name="findRange">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:contact" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="contact">
<xs:sequence>
<xs:element name="city" type="xs:string" minOccurs="0" />
<xs:element name="cname" type="xs:string" minOccurs="0" />
<xs:element name="country" type="xs:string" minOccurs="0" />
<xs:element name="email" type="xs:string" minOccurs="0" />
<xs:element name="personId" type="xs:int" minOccurs="0" />
<xs:element name="phone" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="find">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findResponse">
<xs:sequence>
<xs:element name="return" type="tns:contact" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="create">
<xs:sequence>
<xs:element name="contact" type="tns:contact" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="edit">
<xs:sequence>
<xs:element name="contact" type="tns:contact" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAll">
<xs:sequence />
</xs:complexType>

<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:contact" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="remove">
<xs:sequence>
<xs:element name="contact" type="tns:contact" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="count">
<xs:sequence />
</xs:complexType>

<xs:complexType name="countResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:schema>